.opponent-transition-delay {
  transition: .2s all 2s;
}

.opponent-atk-display-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opponent-stats-label {
  top: 2.6rem;
  position: absolute;
}

.opponent-atk-display-label {
  right: 0;
}