//General Buttons
button {
  display: block;
  padding: 1rem;
  background: darken($color-blue,20);
  color: $color-white;
  transition: transform .2s;
  border-radius: 0.5rem;
  z-index: 10;
  position: relative;
  align-self: stretch;
  cursor: pointer;
    
  &:disabled {
    background: lighten($color-grey,17);
    color: $color-grey;

    &:hover, &:focus {
      z-index: 0;
      transform: none;
    }
  }
}

@media (max-width: 500px) {
  button {
    transform: scale(.9);
    font-size: .7rem;
  }
}